* {
    margin: 0px;
}

#title {
    font-size: 50px;
    text-align: center;
}

#content {
    display: flex;
    justify-content: space-evenly;
}

#canvas {
    border: solid;
    min-height: 512px;
    max-width: 512px;
    display: flex;
    flex-wrap: wrap;
    align-self: start;
    flex: 1;
}

#sideBar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#slider {
    width: 200px;
    height: 10px;
    appearance: none;
    border: solid;
    border-radius: 10px;
}  

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
}